<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->

    <add key="MicrosoftAppId" value="ccb7a101-e4fe-4223-9cf9-027f285c455c" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MicrosoftAppPassword" value="LxRqrwp7Nibftc7SLhDAbra" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ResourcesPath" value="C:\\Sites\bots.contax.com.br\ConexaoLiq\Resources"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="urlAudioConvert" value="http://localhost:8080/message"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="urlApi" value="http://localhost/ConexaoLiq/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
   
  --> <connectionStrings>
    <add name="DefaultConnection"
    connectionString="Data Source=dbsctx10azprd\bots,60438;Initial Catalog=ConexaoLiq2017;Persist Security Info=True;User ID=srv_conarec2017;Password=ctxC0n@r3c2017;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>